<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
">
    <context:property-placeholder location="classpath:properties/solr.properties" ignore-resource-not-found="true" />
    <!-- 单实例solrClient-->
    <!--<bean id="solrClient" class="org.apache.solr.client.solrj.impl.HttpSolrClient">
        <constructor-arg value="${solr.url}"/>
    </bean>-->
    <!-- 多实例solrcloud集群 -->
    <bean id="cloudSolrClient" class="org.apache.solr.client.solrj.impl.CloudSolrClient">
        <constructor-arg name="zkHost" value="${solrcloud.zkHost}"></constructor-arg>
        <property name="defaultCollection" value="${solrcloud.defaultCollection}"></property>
        <property name="zkConnectTimeout" value="${solrcloud.zkConnectTimeout}"></property>
        <property name="zkClientTimeout" value="${solrcloud.zkClientTimeout}"></property>
    </bean>
</beans>